body{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}

#game-window{
    width: 100%;
    height: 100%;
    background-color: rgb(201, 201, 237);
    /* background-image: url(background.png);
    background-size: 100% 100%; */
    overflow: hidden;
}

#block{
    height: 800px;
    width: 50px;
    background-color: rgb(10, 198, 10);
    /* background-image: url(skyscraper3.png); */
    /* background-position: center; */
    /* object-fit: scale-down; */
    position: relative;
    left: 800px;
    animation: block 2s linear infinite;
}

@keyframes block {
    0%{
        left: 1600px;
    }
    100%{
        left: -50px;
    }
}

#hole{
    height: 200px;
    width: 50px;
    background-color: rgb(201, 201, 237);
    /* background-image: url(hole.png); */
    position: absolute;
    left: 800px;
    top: 300px;
    animation: block 2s linear infinite;
}

#character{
    width: 75px;
    height: 75px;
    background-image: url(alien1.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 120px;
    left: 30px;
    
}


@keyframes up{
    0%{
        transform: rotate(0px);
    }

    100%{
        transform: rotate(50px);
    }
}


@keyframes down{
    0%{
        transform: rotate(0px);
    }

    100%{
        transform: rotate(-50px);
    }
}

#counter{
    font-size: 5em;
    color: black;
    position: absolute;
}